nav ul {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgb(26, 196, 211);
  list-style: none;
}

nav ul a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
}